* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background: black;
  position: relative;
}

canvas {
  position: absolute;
  top: 40vh;
  left: 40vw;
  border: 1px solid white;
}

.center-box {
}
